In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('Position_Salaries.csv')
print(dataset)

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
dataset['new']=dataset['Level']+dataset['Salary']

In [5]:
print(dataset)

            Position  Level   Salary      new
0   Business Analyst      1    45000    45001
1  Junior Consultant      2    50000    50002
2  Senior Consultant      3    60000    60003
3            Manager      4    80000    80004
4    Country Manager      5   110000   110005
5     Region Manager      6   150000   150006
6            Partner      7   200000   200007
7     Senior Partner      8   300000   300008
8            C-level      9   500000   500009
9                CEO     10  1000000  1000010